#img-thumbnail{
    width: 200px;
    height: 200px;
}

#table-content{
    max-width: 200px;
}

#description_2{
    max-width: 600px;
}

#description_3{
    max-width: 750px;
}

td, th{
    vertical-align: top;
}

table{
   
    border-spacing: 25px 5px;
    table-layout: auto;
    
}

body{
    margin: 0px;
    
}

.background{   
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    width: 100%;
    height: auto;
    
    
    background: url(/images/asgard_cover.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


ul{
    list-style: none;
    padding-left: 0px;
    
}

.section-1-text, .homepage-links a:link{
   text-decoration: none;
   color: white;        
}

.section-1-text > h1, .section-1-text > h3, .section-1-text > h4{
    margin-bottom: 0.5em;
    margin-top: 0em;
}



