#img-thumbnail{
    width: 200px;
    height: 200px;
}

#table-content{
    max-width: 200px;
}

#description_2{
    max-width: 600px;
}

#description_3{
    max-width: 750px;
}

td, th{
    vertical-align: top;
}

table{
   
    border-spacing: 25px 5px;
    table-layout: auto;
    
}

body{
    margin: 0px;
    
}

.background{   
    /* 
        you can change this later on in a seperate media query 
    */
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    width: 100%;
    height: 100%;
    
    
    background: linear-gradient(0deg, rgba(252, 249, 249, 0.068), rgba(0, 0, 0, 0.712)), url(/images/asgard_cover.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


ul{
    list-style: none;
    padding-left: 0px;
    
}

.section-1-text{
   
   color: white;        
}

a:link{
    text-decoration: none;
}

.section-1-text > h1, .section-1-text > h3, .section-1-text > h4{
    margin-bottom: 0.5em;
    margin-top: 0em;
    
}

.section-1-text > .title{
    font-weight: 1000;
}

.body-content{
    display: flex; 
     
}

.left-side, .right-side{
    flex-basis: 100%;  
    min-width: 400px;  
}

.left-side{
    padding-left: 50px;
}

.right-side{
    padding-right: 50px;
}

.left-side{
    display: flex;
    align-items: center;
}

.tarvern_img{
    width: 100%;
    min-width: 400px;
    height: auto;
    overflow: hidden;
    border-style: inset;
    border-color: #fcba03;
}

.homepage-links{
    display: flex;
    gap: 1em;
}

.nav-body{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 2em;
}

.nav-body img{
    width: 64px;
    height: auto;
}

.nav-header {
    color: white;
    padding-right: 1em;
    
}

.nav-header a{
    color: white;
    font-size: 0.8em;
    padding: 1em;
    font-weight: 900;
}

button{
    color: white;
    background-color: #fcba03;
    border: none;
    font-size: 1em;
    font-weight: 1000;
    padding: 0.5em 0.8em;
}

